@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
html {
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;

}

img {
    max-width: 100%;
    height: auto;
}

.info {
    font-weight: bold;
    color: blueviolet
}

body {
    width: 90%;
    position: relative;
    margin: 0 auto;

}

/* 상단바 시작 */
.topbar {
    margin-top: 2%;
    height: 40px;
    align-items: center;
    display: flex;
}

.webname {
    font-size: 32px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
    flex: 9;
}

.burgerbtn {
    height: 40px;
    width: 40px;
    border-radius: 7px;
    flex: 1;
    z-index: 100;
    background-color: white;
    cursor: pointer;
    border: none;
}

/* 버튼 */
.stick {
    background: rgb(94, 94, 94);
    display: block;
    height: 5px;
    width: 110%;
    position: relative;
    align-items: center;
    border-radius: 2px;
}

.stick:after {
    background: rgb(94, 94, 94);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 10px;
    width: 100%;
    border-radius: 2px;
}

.stick:before {
    background: rgb(77, 77, 77);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: -10px;
    width: 100%;
    border-radius: 2px;
}

/* 상단바 끝 */

/*메뉴 내부*/
.inmenu {
    display: none;
    list-style-type: none;
    position: absolute;
    right: 0;
}

.menubtn {
    width: 100%;
    height: 40px;
    z-index: 100;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: inline-block;
}

.menubtn:hover {
    background-color: rgb(206, 206, 206);
}

.menu_home {
    display: block;
    font-weight: bold;
    color: rgb(49, 49, 49);
    font-size: 24px;
}

.menu_int {
    display: block;
    font-weight: bold;
    color: gray;
    font-size: 24px;
}

.menu_hobby {
    display: block;
    font-weight: bold;
    color: gray;
    font-size: 24px;
}

.imgsec {
    display: block;
    width: 70%;
    padding-left: 15%;
}

.contents1 {
    display: inline-block;
    margin-top: 10em;
    margin: 0 auto;
}

.contents2 {
    display: none;
    margin-top: 10em;
    margin: 0 auto;
}

.contents3 {
    display: none;
    margin-top: 10em;
    margin: 0 auto;
    list-style-type: none;
}
.aboutme {
    margin-top: 0.5em;
    margin-left:-1em;
}

.interimg {
    width: 70%;
    padding-left: 25%;
}
.infosec {
    float:right;
    margin-bottom: 5%;
}
.info {
    text-decoration:none;

}
.mbhr {
    display:block;
}
@media (min-width:768px) and (max-width:991px){
    body {
        width: 90%;
        position: relative;
        display: inline-block;
        margin-left: 5%;
    }
    .contents1 > div{
        display: inline-block;
    }
    .imgsec {
        width: 30%;
        margin-left: -15%;
    }

    .praphsec {
        width:65%;
        float:right;
    }
}
@media (min-width: 992px) {
    body {
        width: 95%;
        position: relative;
        display: inline-block;
        margin-left: 2.5%;
    }

    .contents1 > div{
        display: inline-block;
    }
    .imgsec {
        width: 30%;
        margin-left: -15%;
    }
    .contents2 > div{
        display: inline-block;
    }
    .praphsec {
        width:65%;
        float:right;
    }
    #interimg {
        width: 45%;
        float:left;
    }
    .praphse2 {
        width:55%;
    }
    .contents3 > img {
        display: inline-block;
        width: 50%;
    }
    .mbhr {
        display:none;
    }
}